table.tabform table {
    border-collapse: separate;
    margin: 20px;
}

table.tabform td {
    padding: 10px 0 10px 0;
}

.large {
    font-size: 14pt;
}


/** ToDoのテーブルデザイン．コピペ元 https://www.torat.jp/css-table-design/ */

table.todolist {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 15px -6px #00000073;
}

.todolist tr {
    width: 20%;
    padding: 20px 0;
}

.todolist td,
.todolist th {
    text-align: left;
    padding: 10px;
}

.todo tr:hover {
    background-color: #d5f8d5;
}

.todo th {
    background-color: #30af30;
    color: #fff;
}

.done tr:hover {
    background-color: #eee;
}

.done th {
    background-color: #888;
    color: #fff;
}

.newtodo {
    background-color: #d5f8d5;
}


/** ボタン用のデザイン https://webparts.cman.jp/button/a/  */

.button {
    display: inline-block;
    border-radius: 5%;
    /* 角丸       */
    font-size: 14pt;
    /* 文字サイズ */
    text-align: center;
    /* 文字位置   */
    cursor: pointer;
    /* カーソル   */
    padding: 10px 10px;
    /* 余白       */
    background: #ccc;
    /* 背景色     */
    color: #000;
    /* 文字色     */
    line-height: 1em;
    /* 1行の高さ  */
    opacity: 0.9;
    /* 透明度     */
    transition: .3s;
    /* なめらか変化 */
    text-decoration: none;
    box-shadow: 2px 2px #666666;
    /* 影の設定 */
}