<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>ユーザ登録フォーム</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>
    <h1>ToDoの確認・更新</h1>
    <p>内容を更新する場合は，「更新する」ボタンを押してください．</p>
    <form role="form" th:action="${postUrl}" th:object="${todoForm}" method="post">
        <table class="tabform large">
            <tr>
                <td><label for="tid">tid： </label></td>
                <td><input class="large" type="text" disabled th:field="*{tid}" /></td>
            </tr>
            <tr>
                <td><label for="name">タイトル： </label></td>
                <td><input class="large" type="text" size="40" required th:field="*{title}" /></td>
            </tr>
            <tr>
                <td><label for="name">詳細説明： </label></td>
                <td><textarea class="large" cols="40" rows="4" required th:field="*{description}" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="button" class="large" onclick="history.back()" value="戻る" />
                    <th:block th:if="${user.uid} == *{uid}">
                        <input type="submit" class="large" value="更新する" />
                    </th:block>
                </td>
            </tr>
        </table>
    </form>

</body>

</html>