<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>全ユーザのリスト</title>
    <link rel="stylesheet" type="text/css" th:href="@{/style.css}">
</head>

<body>
    <h1>全ユーザのリスト</h1>
    <input type="button" class="simple_square_btn5" th:onclick="|location.href='@{/users/create}'|" value="新規ユーザ登録" />
    <input type="button" class="simple_square_btn5" th:onclick="|location.href='@{/}'|" value="タイトル画面へ" />
    <table class="tablist">
        <tr>
            <th>uid</th>
            <th>名前</th>
            <th>登録日時</th>
            <th>コマンド</th>
        </tr>
        <tr th:each="p: ${ulist}">
            <td> [[${p.uid}]] </td>
            <td> [[${p.name}]] </td>
            <td> [[${p.createdAt}]] </td>
            <td>
                <a th:href="@{/users/{uid}/update(uid=${p.uid})}">編集</a>|
                <a th:href="@{/users/{uid}/delete(uid=${p.uid})}">削除</a>
            </td>
        </tr>
    </table>
</body>